<form [formGroup]="regiForm">
    <table>
      
      <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <input matInput placeholder="Field Name" [(ngModel)]="FieldName" formControlName="FieldName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            
            <input type="text" placeholder="Select Data Type" aria-label="Number" matInput
            formControlName="DataType" [matAutocomplete]="auto" [(ngModel)]="datatype">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
          </mat-form-field>
        </td>
        <td>
  
          <label class="container">
            <input type="checkbox" [(ngModel)]="marked" value="accepted" formControlName="null" data-md-icheck
              (change)="toggleVisibility($event)" />
              <div *ngIf="marked">Null </div><div *ngIf="!marked">Not null</div>
            <span class="checkmark"></span>
          </label>
        </td>
        <td>
          <!-- <button mat-mini-fab matTooltip="Add row below" color="primary" (click)="createComponent()">+</button> -->
        
  
        <button mat-mini-fab matTooltip="Delete row" (click)="removeMe(index)" color="warn">-</button>
        </td>
      </tr>
    </table>
  </form>
  
  
    
    <div >
  <!-- {{FieldName}}{{datatype}}{{marked}} -->
  
</div>