<div class="card">
  <nav class="navbar ">
    <span class="navbar-text ">
      <h4 class="font-weight-dark text-light">SQL QUERY GENERATOR</h4>
    </span>
    <h3 ><a routerLink="/home" routerLinkActive="active" class="font-weight-dark text-light">Home</a></h3>
      <h4 ><a routerLink="/create" routerLinkActive="active" class="font-weight-dark text-light">Create</a></h4>
      <h4><a routerLink="/update" routerLinkActive="active"  class="font-weight-dark text-light">Update</a></h4>
     </nav>
</div>

<div class="cardd">
    <router-outlet></router-outlet>
<!-- <div class="jumbotron">

    
   
   <div [@routeAnimation]="getAnimationData(routerOutlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div
    <router-outlet name="popup"></router-outlet> 
    
    
   
    
    
  <mat-accordion>
    <mat-expansion-panel class="mat-expansion-demo-width">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create
        </mat-panel-title>
        <mat-panel-description>
          Create your Tables here
        </mat-panel-description>
      </mat-expansion-panel-header>



      <mat-card>
       

        <mat-card-content>
          <app-create-component></app-create-component>
        </mat-card-content>
      </mat-card>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Update
        </mat-panel-title>
        <mat-panel-description>
          For Existing Tables Here
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-view-component></app-view-component>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  -->
</div>


